In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
vine_df = pd.read_csv('vine_table.csv')
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1KKOXHNI8MSXU,4.0,0.0,0.0,N,Y
1,R26SP2OPDK4HT7,5.0,1.0,2.0,N,Y
2,RWQEDYAX373I1,5.0,0.0,0.0,N,Y
3,R231YI7R4GPF6J,5.0,0.0,0.0,N,Y
4,R3KO3W45DD0L1K,5.0,0.0,0.0,N,Y

In [3]:
vine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5906333 entries, 0 to 5906332
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   review_id          object
 1   star_rating        float64
 2   helpful_votes      float64
 3   total_votes        float64
 4   vine               object
 5   verified_purchase  object
dtypes: float64(3), object(3)
memory usage: 270.4+ MB

In [4]:
#To pick reviews that are more likely to be helpful
filtered_vine_df = vine_df[vine_df['total_votes'] >= 20]
filtered_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
211,R35PT06NWP7LDP,5.0,30.0,32.0,N,N
344,R2P76PJFUGXBHO,1.0,6.0,45.0,N,N
372,RQW4AFOG9MR4Z,5.0,51.0,52.0,N,N
406,R2SMUEBMGLAJQK,5.0,29.0,36.0,N,Y
408,R1XVIZZALU5P6J,5.0,148.0,150.0,N,Y

In [5]:
#To retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%
new_vine_df = filtered_vine_df.loc[filtered_vine_df.helpful_votes / filtered_vine_df.total_votes >= 0.5]
new_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
211,R35PT06NWP7LDP,5.0,30.0,32.0,N,N
372,RQW4AFOG9MR4Z,5.0,51.0,52.0,N,N
406,R2SMUEBMGLAJQK,5.0,29.0,36.0,N,Y
408,R1XVIZZALU5P6J,5.0,148.0,150.0,N,Y
419,R11UFMG8M2488I,4.0,23.0,26.0,N,N

In [7]:
#Reviews written as part of the vine program (paid)
vine_reviews = new_vine_df[new_vine_df['vine'] == 'Y']
vine_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
50483,R6U9701C3BGO6,3.0,139.0,147.0,Y,N
50625,R1XK3ALB45D7N4,5.0,33.0,34.0,Y,N
50635,R1IZCSTLX81D6C,5.0,31.0,33.0,Y,N
50656,R2C8NC8EQLH4JF,3.0,45.0,48.0,Y,N
50890,R1JJ1YOJMOML1P,5.0,18.0,21.0,Y,N

In [8]:
#Reviews not written as part of the vine program (unpaid)
not_vine_reviews = new_vine_df[new_vine_df['vine'] == 'N']
not_vine_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
211,R35PT06NWP7LDP,5.0,30.0,32.0,N,N
372,RQW4AFOG9MR4Z,5.0,51.0,52.0,N,N
406,R2SMUEBMGLAJQK,5.0,29.0,36.0,N,Y
408,R1XVIZZALU5P6J,5.0,148.0,150.0,N,Y
419,R11UFMG8M2488I,4.0,23.0,26.0,N,N

In [9]:
#5-Star Review Analysis:
count_vine = len(vine_reviews)
count_vine

33

In [10]:
count_nonvine = len(not_vine_reviews)
count_nonvine

45388

In [11]:
#Out of all the reviews, there were 33 paid-vine reviews and 45,388 unpaid reviews.
max_rating_vine = len(vine_reviews[vine_reviews['star_rating']==5])
max_rating_vine

15

In [12]:
max_rating_nonvine = len(not_vine_reviews[not_vine_reviews['star_rating']==5])
max_rating_nonvine

23733

In [13]:
#5-Star Review percentage by program
#5-star Vine Reviews:
max_rating_vine/count_vine

0.45454545454545453

In [14]:
max_rating_nonvine/count_nonvine

0.5228915131752886

In [15]:
#Average star rating of reviews per program (paid and unpaid)
#paid
round(vine_reviews['star_rating'].mean(),2)

4.09

In [16]:
#Unpaid Program
round(not_vine_reviews['star_rating'].mean(),2)

3.87